.canvas-container {
    position: absolute;
}

#memoryCanvasContainer {
    left: 5px;
}

#SMCanvasContainer {
    left: 850px;
}

#KernelSourceCanvasContainer {
    left: 850px;
    top: 450px;
}

canvas {
    margin-bottom: 5px;
}
