.canvas-container {
    position: absolute;
}

#memoryCanvasContainer {
    left: 5px;
}

#SMCanvasContainer {
    left: 450px;
}

#kernelSourceCanvasContainer {
    position: relative;
    left: 450px;
    top: 450px;
}

canvas {
    margin-bottom: 5px;
}
